@model Employee

<div class="modal fade" id="modalEmployee" tabindex="-1" role="dialog" aria-labelledby="modalEmployeeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEmployeeLabel">@((Model == null || Model.Id == 0 ? "Add" : "Edit")) Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form asp-action="@((Model==null || Model.Id == 0 ? "Create" : "Edit"))" method="post">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MobileNumber" class="control-label"></label>
                        <input asp-for="MobileNumber" class="form-control" />
                        <span asp-validation-for="MobileNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CitizenshipNo" class="control-label"></label>
                        <input asp-for="CitizenshipNo" class="form-control" />
                        <span asp-validation-for="CitizenshipNo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Document" class="control-label"></label>
                        <input asp-for="Document" class="form-control" />
                        <span asp-validation-for="Document" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DepartmentId" class="control-label"></label>
                        <select asp-for="DepartmentId" class="form-control" asp-items="@((SelectList)ViewData["Departments"])">
                            <option value="">Select Department</option>
                        </select>
                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Gender" class="control-label"></label>
                        <input asp-for="Gender" class="form-control" />
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#modalEmployee').modal('show');
        });
    </script>
}
