@model Employee

<div class="modal fade" id="modalDeleteEmployee" tabindex="-1" role="dialog" aria-labelledby="modalDeleteEmployeeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteEmployeeLabel">Delete Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete employee <strong>@Model.FullName</strong>?
            </div>
            <div class="modal-footer">
                <form asp-action="DeleteConfirmed" asp-route-id="@Model.Id" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#modalDeleteEmployee').modal('show');
        });
    </script>
}
